<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DrSneuss' Factory</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <br>
    <br>
    <br>
    <div class="container">
      @RenderBody()
      <br>
      @Html.Partial("Footer")
    </div>
  </body>
</html>