@{
  Layout = "_Layout";
}
<h1>Dr. Sneuss' Thneed Factory</h1>
<br>
<input type="button" value="Engineer List" onclick="location.href='@Url.Action("Index", "Engineers")';" class="btn btn-primary" />
<br><br>
<input type="button" value="List of Machines" onclick="location.href='@Url.Action("Index", "Machines")';" class="btn btn-primary" />